In [29]:
import os
import pandas as pd
import joblib
import matplotlib.pyplot as plt

In [35]:
database_listdir = os.listdir('database')

def makeDataFrame(account):
    files = os.listdir(f'database/{account}')
    if len(files) == 0:
        return
    to_concat = []
    for file in files:
        to_concat.append(joblib.load(f'database/{account}/{file}'))
    full_database = pd.concat(to_concat).drop_duplicates(subset ="date").sort_values(by=['date']).reset_index(drop = True)
    joblib.dump(full_database,f'database/{account}/full_{account}.pkl')

def concatAllData(database_listdir):
    for account in database_listdir:
        makeDataFrame(account)
        print(f'{account} database ready ')

concatAllData(database_listdir)

alitomorenoc database ready
BeatrizGMuller database ready
Claudiashein database ready
damianzepeda database ready
epigmenioibarra database ready
FelipeCalderon database ready
GustavoMadero database ready
JohnMAckerman database ready
JuarezCisneros database ready
LariosHector database ready
lopezobrador_ database ready
lvidegaray database ready
MarkoCortes database ready
Mzavalagc database ready
osoriochong database ready
RicardoAnayaC database ready

In [36]:
PRI = {'alitomorenoc': joblib.load(f'database/alitomorenoc/full_alitomorenoc.pkl'),
       'osoriochong' : joblib.load(f'database/osoriochong/full_osoriochong.pkl'),
       'JuarezCisneros': joblib.load(f'database/JuarezCisneros/full_JuarezCisneros.pkl')}

In [37]:
PAN = {'FelipeCalderon': joblib.load(f'database/FelipeCalderon/full_FelipeCalderon.pkl'),
       'RicardoAnayaC': joblib.load(f'database/RicardoAnayaC/full_RicardoAnayaC.pkl'),
       'MarkoCortes': joblib.load(f'database/MarkoCortes/full_MarkoCortes.pkl'),
       'LariosHector': joblib.load(f'database/LariosHector/full_LariosHector.pkl'),
       'Mzavalagc': joblib.load(f'database/Mzavalagc/full_Mzavalagc.pkl'),
       'damianzepeda': joblib.load(f'database/damianzepeda/full_damianzepeda.pkl'),
       'GustavoMadero': joblib.load(f'database/GustavoMadero/full_GustavoMadero.pkl')}

In [38]:
MORENA = {'JohnMAckerman': joblib.load(f'database/JohnMAckerman/full_JohnMAckerman.pkl'),
          'epigmenioibarra': joblib.load(f'database/epigmenioibarra/full_epigmenioibarra.pkl'),
            'BeatrizGMuller': joblib.load(f'database/BeatrizGMuller/full_BeatrizGMuller.pkl'),
          'Claudiashein': joblib.load(f'database/Claudiashein/full_Claudiashein.pkl'),
          'lopezobrador_': joblib.load(f'database/lopezobrador_/full_lopezobrador_.pkl')}

In [39]:
pri_len = sum([len(PRI[x]) for x in PRI.keys()])
pri_len

46447

In [40]:
pan_len = sum([len(PAN[x]) for x in PAN.keys()])
pan_len

50990

In [41]:
morena_len = sum([len(MORENA[x]) for x in MORENA.keys()])
morena_len

162092

In [42]:
def printPartyLen(dictionaries):
    for dictionary in dictionaries:
        print('###################\r\r')
        for account in dictionary.keys():
            print(account, len(dictionary[account]), ' Tweets')

In [43]:
printPartyLen([PRI,PAN,MORENA])

alitomorenoc 15325  Tweets
osoriochong 7151  Tweets
JuarezCisneros 23971  Tweets

FelipeCalderon 8963  Tweets
RicardoAnayaC 3824  Tweets
MarkoCortes 6775  Tweets
LariosHector 5231  Tweets
Mzavalagc 5779  Tweets
damianzepeda 12585  Tweets
GustavoMadero 7833  Tweets

JohnMAckerman 35131  Tweets
epigmenioibarra 109288  Tweets
BeatrizGMuller 1291  Tweets
Claudiashein 11375  Tweets
lopezobrador_ 5007  Tweets

In [ ]:
PAN['Mzavalagc'].tweet[101]

In [ ]:
for ind, tweet in enumerate(PAN['Mzavalagc'].tweet):
    if len(tweet) > 280:
        print(ind)

# mar_lens = [len(tweet) for tweet in PAN['Mzavalagc'].tweet]
# mar_lens

In [ ]:
o = PAN['Mzavalagc'].tweet[4008]

In [ ]:
o.split(' ')

In [ ]:
p = joblib.load(r'C:\Users\jupol\Documents\GitHub\GetTweetsModule\database\JohnMAckerman\JohnMAckerman_2011-10-01.pkl')

In [ ]:
p.tweet[
    1070
]

In [33]:
test = joblib.load(r'G:\python\Demis\LegacyDemi\demis\FinalDemi\input\accounts\tatclouthier_tweets.pkl')

In [34]:
test

,account,text
date,,
2009-04-22 03:13:55,tatclouthier,Que dia tan rendidor
2009-04-29 22:29:42,tatclouthier,¿Cuánto es el presupuesto destinado a salud pú...
2009-04-30 23:10:22,tatclouthier,sin participacion responsable nada fructifica.
2009-05-13 03:06:09,tatclouthier,Vamos hoy por algo que sume no? abrazos
2009-05-13 22:17:24,tatclouthier,Ayer se rompió un silencio y todo un paradigma...
...,...,...
2019-08-06 02:54:36,tatclouthier,@juanrleone @America8384 @julenrementeria Ni u...
2019-08-06 02:58:24,tatclouthier,@ciinavarro Proyecciones....te consideras insi...
2019-08-06 02:59:57,tatclouthier,@ChayraIrma1 Diputada
2019-08-06 03:00:23,tatclouthier,@ArturoNavarroN @ChayraIrma1 Simpático
2019-08-06 03:01:38,tatclouthier,@AldoAV4 :)

In [24]:
PRI['osoriochong']

,date,tweet
0,2010-08-25 15:00:40+00:00,"Buen día a todos, ya estoy utilizando las rede..."
1,2010-08-25 21:43:59+00:00,"Agradezco sus comentarios de bienvenida, les a..."
2,2010-08-25 22:52:03+00:00,"Hoy visité Teyahuala, municipio de Tepehuacán ..."
3,2010-08-25 23:08:00+00:00,La foto de Teyahuala http://twitpic.com/2i5l7p
4,2010-08-26 19:22:33+00:00,http://tweetphoto.com/41521136 Estoy en la uni...
...,...,...
7146,2020-09-04 19:39:13+00:00,De acuerdo a estimaciones de la Universidad de...
7147,2020-09-05 14:41:05+00:00,"Reconocemos todos sus aportes, les valoramos y..."
7148,2020-09-05 19:59:34+00:00,Seguiremos impulsando que se apruebe por el Pl...
7149,2020-09-06 18:45:18+00:00,Hoy cumple 6 años el portal de @lopezdoriga; m...
7150,2020-09-08 17:53:16+00:00,"Encuentro del bloque @SenadoresdelPAN, @Senado..."